body {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.masthead {
    background: url("../img/header4_new.webp") center center;
    background-size: cover;
    background-repeat: repeat-y;
    overflow-y: hidden;
    height: calc(100vh - 56px) !important;
}

.topheader {
    height: calc(100vh - 56px);
}

.masthead hr {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    width: 40%;
    height: 3px;
}

.masthead h1 {
    font-size: 30px;
}

.masthead p {
    font-weight: 400;
    font-size: 20px;
    width: 70%;
    margin: 0 auto;
    background-color: rgba(210, 209, 208,0.3);
    padding: 10px;
}

/* greater than 992px */
@media (min-width: 992px) {
    .masthead {
        height: 100vh;
        min-height: 650px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .masthead h1 {
        font-size: 42px;
    }


    .masthead p {
        font-size: 26px;
    }
}

.btn {
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.navbar {
    z-index: 100;
    background-color: white;
}

a {
    cursor: pointer;
}

.race-details {
    color: black;
    cursor: pointer;
    text-decoration: none !important;
}

.race-details a:hover {
    color: #007bff !important;
    text-decoration: none;
}

li {
    cursor: pointer;
}

.btn-link:hover {
    text-decoration: none !important;
}

.btn-link:focus {
    text-decoration: none !important;
}

.btn-link:visited {
    text-decoration: none !important;
}

@media screen and (max-width: 350px) {
  .display-none {
    display: none;
  }
}
